@import 'main';

/* Basic */

a {
    @include vendor('transition', ('border-color #{_duration(transition)} ease-in-out', 'color #{_duration(transition)} ease-in-out'));
    border-bottom: none;
    color: #fff;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: #C3BA00 !important;
        border-bottom-color: transparent;
    }
}

/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
    &:hover, &:active {
        box-shadow: inset 0 0 0 1px _palette(button-lighter);
        color: _palette(fg-bold) !important;
    }

    &.blue {
        box-shadow: inset 0 0 0 1px #5480f1;
        color: #5480f1 !important;
    }

    &.green {
        box-shadow: inset 0 0 0 1px #39c088;
        color: #39c088 !important;
    }

    &.yellow {
        box-shadow: inset 0 0 0 1px #C3BA00;
        color: #212121 !important;
        background: #C3BA00;
        &:hover {
            background: #a59d00;
        }
    }

    &.yellow:hover,
    &.blue:hover,
    &.green:hover {
        box-shadow: inset 0 0 0 1px #ffffff;
        color: #ffffff !important;
    }
}

/* Custom */

/* Header */

#header {
    h1 {
        #logo {
            width: 200px;
            position: fixed;
        }
    }

    .header-phone {
        position: fixed;
        top: 0.5em;
        right: 1em;

        a {
            display: block;
            background: rgba(204, 171, 30, 0.8);
            border-radius: 4px;
            padding: 0 1em;
            color: #212121;
            font-weight: bold;

            &:hover {
                background: rgba(204, 171, 30, 1);
                color: #000000 !important;
            }
        }
    }
}

/* Banner */

#banner {
    background-image: url("../../images/blackdoors-party2.jpg");

    &:after {
        @include vendor('background-image',
            ('linear-gradient(top, #{_palette(banner-bg)}, #{_palette(banner-bg)})',
            'url("images/overlay.png");')
        );
    }

    .content {
        text-align: center;
        padding: 1em;
        vertical-align: top;
        margin-top: 3.5em;

        header {
            display: inline-block;
            padding: 0.5em 1.5em;
            font-weight: bold;

            h2 {
                font-size: 4em;
                font-weight: bold;
                line-height: 1em;
            }

            .logo {
                width: 350px;
            }

            h3 {
                display: inline;
                background: rgba(0, 0, 0, 0.5);
                box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.4);
                padding: 0.4em 0.8em;
                color: #C3BA00;
            }
        }
    }
    .benefits-bottom {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.4);
        z-index: 1;

        .benefit-wrapper {
            position: relative;
            width: 80%;
            left: 10%;
            text-align: center;
            line-height: 1.5em;
            overflow: hidden;

            .benefit {
                width: 23%;
                padding: 1.5em 1% 1em;
                float: left;
                font-weight: bold;

                .banner-icon {
                    font-size: 3em;
                    margin-bottom: 0.25em;
                }
            }
        }
    }
}

#one {
    &.banner {
        background: url("../../images/main_bg.jpg") repeat;
        box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
        min-height: 100vh;
        position: relative;
        text-align: center;
        z-index: (_misc(max-spotlight) + 1);

        &:before {
            content: '';
            display: none;
            height: 100vh;
            vertical-align: middle;
            width: 0;
        }

        .content {
            display: block;
            margin-right: 0;
            max-width: 100%;
            padding: 4em 0 4em;
            position: relative;
            text-align: center;
            vertical-align: middle;
            z-index: 1;

            header {
                display: block;
                padding: 0.5em 1.5em;
                color: #212121;

                h2 {
                    font-size: 1.7em;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: #212121;
                }

                h3 {
                    font-size: 1.7em;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: #212121;
                    margin: 2em 0 1em;
                }

                p {
                    color: #212121;
                    margin: 0;
                    font-weight: bold;
                }

                .designer {

                    .designer-photo {
                        width: 7em;
                        height: 7em;
                        border-radius: 100%;
                        background: url(../../images/designer2.jpg) no-repeat center center;
                        background-size: cover;
                        margin: 1em auto 0;
                    }

                    .designer-info {
                        font-style: italic;
                        font-weight: bold;
                    }
                }

                .benefit-wrapper {
                    margin: 0 auto;
                    width: 80%;
                    text-align: center;
                    line-height: 1em;
                    overflow: hidden;

                    .benefit {
                        width: 23%;
                        padding: 1em 1%;
                        float: left;
                        font-weight: bold;

                        .banner-icon {
                            font-size: 3em;
                            margin-bottom: 0.5em;
                        }
                    }
                }
            }

            .carousel {
                padding-top: 130px;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);

                .owl-carousel .owl-wrapper-outer{
                    overflow: hidden;
                    position: relative;
                    width: 100%;
                    z-index: 1;  /* added this */
                }
                .owl-item {
                    transform: translateZ(0);
                    -webkit-transform: translateZ(0);
                    -ms-transform: translateZ(0);
                }

                .owl-nav {
                    text-align: center;
                    position: absolute;
                    top: -90px;
                    width: 100%;

                    .owl-prev, .owl-next {
                        background: url(../../images/sprite/text-slider-arrows.png) no-repeat 0 0;
                        width: 40px;
                        height: 40px;
                        text-indent: -99999px;
                        display: inline-block;
                        margin: 0 20px;
                        transition: opacity 0.3s;
                    }

                    .owl-next {
                        background-position: -40px 0;
                    }
                }

                p {
                    margin: 1em 0 0;
                    font-size: 1em;
                    //color: _palette(fg);
                    //background: rgba(0, 0, 0, 0.5);
                    //box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.75);
                    color: #212121;
                }
            }
        }

        .goto-next {
            &:before {
                background-image: url(images/arrow-black.svg);
            }
        }
    }
}

#two {
    &.banner {
        background: url("../../images/main_bg.jpg") repeat;
        min-height: 100vh;
        position: relative;
        text-align: center;
        z-index: (_misc(max-spotlight) + 1);

        &:before {
            content: '';
            display: none;
            height: 100vh;
            vertical-align: middle;
            width: 1%;
        }

        .content {
            display: block;
            margin-right: 0;
            max-width: 100%;
            padding: 0;
            position: relative;
            text-align: center;
            vertical-align: middle;
            z-index: 1;

            header {
                display: block;
                padding: 0.5em 1.5em;
                color: #212121;

                h2 {
                    font-size: 1.7em;
                    text-transform: uppercase;
                    font-weight: 400;
                    color: #212121;
                }

                p {
                    margin: (_size(element-margin) * 0.25) 0 0 0;
                    top: 0;
                    color: #212121;
                    font-weight: bold;
                }
            }

            .carousel {
                padding-top: 130px;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);

                .owl-nav {
                    text-align: center;
                    position: absolute;
                    top: -90px;
                    width: 100%;

                    .owl-prev, .owl-next {
                        background: url(../../images/sprite/text-slider-arrows.png) no-repeat 0 0;
                        width: 40px;
                        height: 40px;
                        text-indent: -99999px;
                        display: inline-block;
                        margin: 0 20px;
                        transition: opacity 0.3s;
                    }

                    .owl-next {
                        background-position: -40px 0;
                    }
                }

                p {
                    font-size: 1em;
                    color: #212121;

                }
            }
        }

        .goto-next {
            &:before {
                background-image: url(images/arrow-black.svg);
            }
        }
    }
}

#three {
    &.banner {
        background-attachment: fixed;
        background-color: _palette(accent2);
        background-image: url("../../images/blackdoors-background.jpg");
        background-position: center center;
        background-size: cover;
        box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
        min-height: 50vh;
        position: relative;
        text-align: center;
        z-index: (_misc(max-spotlight) + 1);

        &:before {
            content: '';
            display: inline-block;
            height: 50vh;
            vertical-align: middle;
            width: 1%;
        }

        &:after {
            @include vendor('background-image', ('linear-gradient(top, #{_palette(bg-transparent-l)}, #{_palette(bg-transparent-l)})', 'url("images/overlay.png");'));
            content: '';
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

        .content {
            display: inline-block;
            margin-right: 1%;
            max-width: 95%;
            padding: 4em;
            position: relative;
            text-align: left;
            vertical-align: middle;
            z-index: 1;

            header {
                display: inline-block;
                vertical-align: middle;

                h2 {
                    font-size: 1.7em;
                    margin: 0;
                    text-transform: uppercase;
                    font-weight: bold;
                }

                p {
                    margin: (_size(element-margin) * 0.25) 0 0 0;
                    top: 0;
                    font-weight: bold;
                }
            }

            .image {
                border-radius: 100%;
                display: inline-block;
                height: 14em;
                margin-right: 3em;
                vertical-align: middle;
                width: 14em;

                img {
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}

#four {
    &.banner {
        background: url("../../images/main_bg.jpg") repeat;
        box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
        min-height: 100vh;
        position: relative;
        text-align: center;
        z-index: (_misc(max-spotlight) + 1);

        &:before {
            content: '';
            display: none;
            height: 100vh;
            vertical-align: middle;
            width: 0;
        }

        .content {
            display: inline-block;
            margin-right: 1%;
            max-width: 95%;
            padding: 4em;
            position: relative;
            text-align: center;
            vertical-align: middle;
            z-index: 1;

            header {
                display: inline-block;
                vertical-align: middle;

                h2 {
                    font-size: 1.7em;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: #212121;
                }

                p {
                    color: #212121;
                    margin: (_size(element-margin) * 0.25) 0 0 0;
                    font-weight: bold;
                }
            }

            .feedback-wrapper {
                overflow: hidden;

                .feedback {
                    float: left;
                    width: 33%;
                    padding: 0 2%;
                    color: #000;

                    .feedback-user-name {
                        font-size: 1.2em;
                        font-weight: bold;
                    }

                    .feedback-user-description {
                        font-size: 0.6em;
                        font-style: italic;
                        font-weight: bold;
                    }

                    .feedback-photo {
                        width: 14em;
                        height: 14em;
                        border-radius: 100%;
                        margin: 1em auto;
                        overflow: hidden;

                        &.dorogova {
                            background: url(../../images/dorogova.png) no-repeat center center;
                            background-size: cover;
                        }
                        &.marina {
                            background: url(../../images/marina.jpg) no-repeat center center;
                            background-size: cover;
                        }
                        &.pavel {
                            background: url(../../images/pavel.jpg) no-repeat center center;
                            background-size: cover;
                        }
                    }

                    .feedback-text {
                        font-size: 0.8em;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

#five {
    &.banner {
        background-attachment: fixed;
        background-color: _palette(accent2);
        background-image: url("../../images/blackdoors-party.jpg");
        background-position: center center;
        background-size: cover;
        box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
        min-height: 100vh;
        position: relative;
        text-align: center;
        z-index: (_misc(max-spotlight) + 1);

        &:before {
            content: '';
            display: inline-block;
            height: 100vh;
            vertical-align: middle;
            width: 1%;
        }

        &:after {
            @include vendor('background-image', ('linear-gradient(top, #{_palette(bg-transparent-l)}, #{_palette(bg-transparent-l)})', 'url("images/overlay.png");'));
            content: '';
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

        .container {
            display: inline-block;
            margin-right: 1%;
            max-width: 95%;
            padding: 4em;
            position: relative;
            text-align: center;
            vertical-align: middle;
            z-index: 1;

            header {
                &.major {
                    margin: 0;

                    &:after {
                        background: #C3BA00;
                    }
                }

                h2 {
                    font-size: 1.7em;
                    text-transform: uppercase;
                    font-weight: bold;
                }

                p {
                    margin-bottom: 0;
                    font-weight: bold;
                }

                .rush {
                    color: #ffffff;
                    font-weight: bold;
                }

                &>ul {
                    width: 40%;
                    margin: 0 auto;
                    position: relative;
                    text-align: left;
                    font-weight: 300;
                    padding-left: 2em;
                    color: #ffffff;
                }

                .clock {
                    margin: 4em auto 2em;
                    width: auto;
                    display: inline-block;
                    .flip-clock-label {
                        color: #ffffff;
                    }
                    ul {
                        padding: 0;
                        li {
                            padding: 0;
                        }
                    }
                }
            }

            form {
                color: #fff;

                &.container {
                    padding: 0 4em;
                }

                .text-field {
                    margin: 2em;
                    color: #C3BA00;
                }

                p {
                    margin-top: 1em;
                    font-size: 0.8em;
                    font-style: italic;
                    line-height: 1em;
                }

                .button {
                    font-size: 1.25em;
                    font-weight: bold;
                }
            }
        }
    }
}

#six {
    padding: 0;
    background: #272833;
    .back-container {
        height: 10em;
        z-index: -1;
    }

    iframe {
        opacity: 0.85;
    }
}

/* Footer */

#footer {
    background: _palette(accent2);
    padding: 4em 0;
    text-align: center;
    color: #fff;

    .contacts {
        color: rgba(255, 255, 255, 0.5);
        font-size: 1.3em;
        line-height: 1.5em;
        margin: 2em 0 2.5em 0;
        padding: 0;
        text-align: center;
        list-style: none;

        .phone {
            color: inherit;
            border-bottom: none;
        }
    }

    .copyright {
        li {

            a {
                border-bottom: none;
            }
        }
    }
}

/* XLarge */

@include breakpoint(xlarge) {

}

/* Large */

@include breakpoint(large) {

}

/* Medium */

@include breakpoint(medium) {
    .clock {
        zoom: 0.5;
        transform: scale(0.9);
    }

    #four.banner .content {
        .feedback-wrapper {
            .feedback {
                float: none;
                width: 100%;
            }
        }
    }
}

/* Small */

@include breakpoint(small) {

}

/* XSmall */

@include breakpoint(xsmall) {

    #header {
        display: block;

        h1 {
            #logo {
                width: 100px;
                position: absolute;
            }
        }

        .header-phone {
            position: absolute;
            line-height: 1.5em;
            margin-top: 0;
            a {
                font-size: 0.8em;
            }
        }
    }

    #banner {
        .content {
            margin-top: 0.5em;

            header {
                padding: 0;

                h2 {
                    font-size: 2.2em;
                }

                .logo {
                    width: 16em;
                }
            }
        }

        .benefits-bottom {
            .benefit-wrapper {
                .benefit {
                    width: 48%;
                    padding: 1em 2%;
                    font-size: 1em;
                    line-height: 1em;

                    .banner-icon {
                        font-size: 1.5em;
                    }
                }
            }
        }
    }

    #one.banner {
        .content {
            padding: 4em 1em 1em;
            header {

                h2 {
                    font-size: 1.5em;
                }
                .benefit-wrapper {
                    margin: 0;
                    width: 100%;

                    .benefit {
                        width: 48%;
                        padding: 1em 2%;
                        word-wrap: break-word;
                        .banner-icon {
                            font-size: 1.5em;
                        }
                    }
                }
            }
        }
    }

    #two.banner {
        .content {
            padding: 2em 1em 4em;
            header {
                h2 {
                    font-size: 1.5em;
                }
            }
            .image {
                margin: 1em auto;
            }
        }
    }

    #three.banner {
        .content {
            padding: 4em 1em;
            .image {
                margin-bottom: 2em;
            }

            header {
                h2 {
                    font-size: 1.5em;
                }
            }
        }
    }
    
    #four.banner {
        .content {
            padding: 4em 1em 1em;
            header {
                h2 {
                    font-size: 1.5em;
                }
            }

            .feedback-wrapper {

                .feedback {
                    float: none;
                    width: 100%;
                    margin-bottom: 2em;
                }
            }
        }
    }

    #five.banner {
        .container {
            padding: 4em 1em;
            header {
                h2 {
                    font-size: 1.5em;
                }

                &>ul {
                    width: 100%;
                }

                .clock {
                    zoom: 0.3;
                    transform: scale(0.9);

                    &.flip-clock-wrapper ul li a div div.inn {
                        font-size: 0.4em;
                    }
                }
            }
            p {
                width: 100%;
                margin: 0;
                padding: 0;
            }
            form {
                padding: 0 !important;
                .text-field {
                    margin: 2em;
                    input {
                        padding: 0 2.25em;
                    }
                }
                .button {
                    padding: 0 2em;
                }
            }
        }
    }
}

//carousel fix

.carousel {
    text-size-adjust: none;
    max-height: 999999px;

    .owl-carousel {
        .owl-stage {
            overflow: hidden;
            position: relative;
            width: 100%;
            z-index: 1; /* added this */
        }
    }
    .owl-item {
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
    }
}